.features {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    &__container {
       max-width: 108rem;
       padding: 1rem 3rem;
       margin-right: auto;
       margin-left: auto;
    }

    &__image { 
        max-width: 56.3rem;
        max-height: 49.5rem;

        @media (max-width: 36em) {
            margin: 2rem auto 0 auto;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        height: 100%;

        & p {
            font-size: 1.55rem;
            color: $color-grey;
            max-width: 40rem;

            // @media (max-width: 48em) {
            //     padding-top: 1.5rem;
            // }

            // @media (max-width: 43.75em) {
            //     font-size: 1.4rem;
            // }

        }

        & h2 {
            @media (max-width: 43.75em) {
                font-size: 2.5rem;
            }
        }
    }
}