.header {
  margin-top: 7rem;
  margin-bottom: 5rem;

  &__carousel-img {
    position: relative;
    object-fit: cover;
    height: 91.2vh;
    width: 100%;
  }

  &__carousel-content {
    background: $color-transparent-white;
    border-bottom-left-radius: 1.7rem;
    border-bottom-right-radius: 1.7rem;
    padding: 4rem 5.5rem;
    position: absolute;
    width: 100%;
    max-width: 50rem;
    z-index: 100;
    top: 0;
    left: 7%;

    @media (max-width: $md-break) {
      padding: 3rem;
      max-width: 30rem;
    //   left: 7%;
    }

    & h2 {
      line-height: 1.4;
      font-size: 4rem;

      @media (max-width: $md-break) {
        font-size: 2rem;
      }
    }
  }

  &__carousel-logo {
    max-width: 15rem;
  }
}

.carousel-indicators {
  & button {
    border: 1px solid transparent !important;
    border-radius: 5rem !important;
    width: 2.8rem !important;
  }

  & .active {
    background: $color-tertiary !important;
    border-radius: 5rem !important;
    width: 2.8rem !important;
  }
}
