@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 5rem;
}

body {
  --bs-body-font-family: 'Almarai', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

html,
body {
  overflow-x: hidden;
}
